.app-error {
  width: 100%;
  min-height: 5%;

  padding: 1rem 1.25rem 1rem 1.25rem;

  margin-bottom: 24px;

  font-size: 1.2rem;

  border: 2px solid transparent;

  margin-right: 2rem;
  margin-left: 2rem;

  color: #fff;

  background: #d50000;

  text-align: center;

  font-family: sans-serif;
}
