.app-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 48px;
  border-radius: 8px;
  box-shadow: 1.8rem -1rem rgba(0, 0, 0, 0.25);
  width: 24rem;
}
