.app-input {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 10rem;
  height: 48px;

  padding: 8px 8px 8px 16px;

  margin-bottom: 15px;

  outline: none;

  border: none;

  border-bottom: 3px solid #45526c;

  background: #f4f9f9;

  transition: all 0.3s linear;

  width: 100%;

  &::placeholder {
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
  }

  &:hover,
  &:focus {
    border-color: #1e6f5c;
  }
  &--invalid {
    border-color: #d32f2f;

    &:hover,
    &:focus {
      border-color: #d32f2f;
    }
  }
}

.app-field {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
