.app-dialog-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.app-dialog-mobile {
  width: 100%;
  height: 85%;

  background: #fff;

  position: fixed;
  bottom: 0;

  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 0 -1.6rem 1.6rem 0 rgba(0, 0, 0, 0.2);

  &__header {
    padding: 16px 24px;

    height: 15%;
    button {
      margin-left: auto;
    }
  }

  &__body {
    padding: 24px;

    height: 85%;
  }
}

.app-dialog-desktop {
  width: 35rem;

  background: #fff;

  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 1.2rem 1.2rem transparentize($color: #000000, $amount: 0.75);

  &__header {
    padding-bottom: 8px;
    padding: 16px 24px;

    button {
      margin-left: auto;
    }
  }

  &__body {
    padding: 32px;
  }
}
